<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="mb-3">
                <label for="cantidad" class="form-label">Ingrese Cantidad</label>
                <input type="email" class="form-control" id="cantidad" placeholder="Ingrese su Moneda">
              </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            input moneda
        </div>
        <div class="col-lg-6">
            input moneda
        </div>
        
    </div>
</div>